In [1]:
import pandas as pd
import geopandas as gpd
import re
import matplotlib as plt
import numpy as np

In [2]:
trash = pd.read_csv('cleaned_trash_haulers.csv')

In [3]:
trash['Date Opened'] = pd.to_datetime(trash['Date Opened'])

In [4]:
trash['Zip Code'] = trash['Zip Code'].astype('str')
trash['Zip Code'] = trash['Zip Code'].str.extract(r'(\d{5})')

In [5]:
trash.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20226 entries, 0 to 20225
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Request Number  20226 non-null  int64
 1   Date Opened     20226 non-null  datetime64[ns]
 2   Request         20226 non-null  object
 3   Description     20192 non-null  object
 4   Zip Code        20186 non-null  object
 5   Trash Hauler    19364 non-null  object
 6   Trash Route     19279 non-null  object
 7   LONGITUDE       20198 non-null  float64
 8   LATITUDE        20198 non-null  float64
 9   Clean Address   20216 non-null  object
 10  Missed          20226 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 1.6+ MB

In [30]:
trash.Missed.value_counts()

Missed
True     17815
False     2411
Name: count, dtype: int64

# Red River Waste Solutions Total Damages
- For each address:
    - `>= 3 missed pickups on 3 unique dates`
    - `Within a 6 month timespan`
    + `+ $1500`

In [6]:
redriver = trash[['Request Number', 'Date Opened', 'Missed', 'Clean Address', 'Trash Hauler', 'Zip Code']]

In [7]:
redriver.head()

,Request Number,Date Opened,Missed,Clean Address,Trash Hauler,Zip Code
0,25270,2017-11-01,False,3817 CROUCH DR,RED RIVER,37207
1,25274,2017-11-01,True,4028 CLARKSVILLE PIKE,RED RIVER,37218
2,25276,2017-11-01,True,6528 THUNDERBIRD DR,RED RIVER,37209
3,25307,2017-11-01,True,2603 OLD MATTHEWS RD,WASTE IND,37207
4,25312,2017-11-01,True,604 CROLEY DR,RED RIVER,37209

In [8]:
redriver = redriver.loc[redriver['Trash Hauler'] == 'RED RIVER']

In [9]:
redriver = redriver.loc[redriver['Missed'] == True]

In [10]:
redriver.head()

,Request Number,Date Opened,Missed,Clean Address,Trash Hauler,Zip Code
1,25274,2017-11-01,True,4028 CLARKSVILLE PIKE,RED RIVER,37218
2,25276,2017-11-01,True,6528 THUNDERBIRD DR,RED RIVER,37209
4,25312,2017-11-01,True,604 CROLEY DR,RED RIVER,37209
8,25330,2017-11-01,True,4484 LAVERGNE COUCHVILLE PIKE,RED RIVER,37013
10,25341,2017-11-01,True,3113 HYDES FERRY RD,RED RIVER,37218

In [11]:
redriver = redriver.drop_duplicates(['Date Opened', 'Clean Address'])

In [12]:
#redriver['Time Diff'] = redriver.groupby('Clean Address')['Date Opened'].rolling(window = 3, min_periods = 3, center = True).DateOffset().reset_index(drop = True)

In [13]:
#redriver['timediff'] = redriver['Date Opened'].diff()

# Sort by date
# Make set of Addresses
- For loop for Address set
    - Make temporary df for address
    - For loop for dataframe
      - If firstdiff = date_opened - next row date opened
        - If first diff < 180 days
                - seconddiff = date_opened - 2nd next row date opened
                - If seconddiff < 180 days
                    - fine = True

In [14]:
redriver = redriver.sort_values('Date Opened').reset_index(drop = True)

In [15]:
address_set = set(redriver['Clean Address'])
address_set

{'3221 W HAMILTON AVE',
 '4409 DOWDY DR',
 '3257 ANDERSON RD',
 '1526 WAYNE DR',
 '1703 HORNBUCKLE LN',
 '3286 EZELL PIKE',
 '4149 HIGHLANDER CT',
 '504 EWING DR',
 '800 CAMMACK CT',
 '2013 CASTLEMAN DR',
 '3100 FORREST PARK AVE',
 '200 ERROL LN',
 '1004 ARCADIA CT',
 '4104 EDWARDS AVE',
 '114 ELIZABETHS CT',
 '2929 SOUTHLAKE DR',
 '1200 QUAISE MOOR E',
 '111 DODGE DR',
 '930 CURDWOOD BLVD',
 '1719 ROGER AVE',
 '206 MILES CT',
 '139 VOLCANO CT',
 '3603 SABRE DR',
 '473 RURAL HILL RD',
 '3908 W VALLEY DR',
 '3924 AUGUSTA DR',
 '4829 BRIARWOOD DR',
 '641 MAGNOLIA LN',
 '2024 CHADWELL OVERLOOK DR',
 '2316 WARFIELD LN',
 '5214 BUENA VISTA PIKE',
 '709 TUCKAHOE DR',
 '1515 BRIDGECREST DR',
 '2712 MEADOW ROSE DR',
 '522 BEN ALLEN RD',
 '5313 BALLARD CT',
 '213 GARNER AVE',
 '6531 CURRYWOOD DR',
 '200 LONGHUNTER CIR',
 '4604 LILA LN',
 '6005 OBRIEN AVE B',
 '787 RODNEY DR',
 '2715 PRIEST LAKE DR',
 '137 LAIRD RD',
 '4171 FARMVIEW DR',
 '1503 RIVERSIDE DR',
 '306 CANA CIR',
 '404 WESTCHESTER DR',
 '1013 PEWTER CT',
 '904 WELLFLEET CT',
 '1520 DUGGER DR',
 '114 NASHBORO GRNS',
 '633 MCMURRAY DR',
 '1813 LOMBARDY AVE',
 '1517 STONEY RIVER LN',
 '524 BROOK VIEW ESTATES DR',
 '3325 MIMOSA DR',
 '3813 CREEKWOOD CIR',
 '845 OLD HICKORY BLVD',
 '2234 DALE VIEW DR',
 '3454 CRESTRIDGE DR',
 '2909 VAULX LN',
 '4207 BELMONT PARK TER',
 '704 CRESCENT RD',
 '415 WESTCHESTER DR',
 '821 ELISSA DR',
 '3910 VALLEY RD',
 '3614 WOODMONT BLVD',
 '5264 BUENA VISTA PIKE',
 '4324 MYSTIC VALLEY CT',
 '308 CLARK HILL XING',
 '3333 TOWNE VILLAGE RD',
 '207 MORTON AVE',
 '1110 RIVERSIDE DR',
 '4414 SAUNDERS AVE',
 '604 FOREST POINTE PL',
 '1209 DEERHAVEN CT',
 '1238 RIVERWOOD DR',
 '188 TUSCULUM RD',
 '108 BARELLA CT',
 '307 WESTCHESTER DR',
 '3606 WHITES CREEK PIKE',
 '75 BROOKWOOD TER',
 '4100 HILLSBORO CIR',
 '2706 W LINDEN AVE',
 '2612 PENNINGTON BEND RD',
 '2554 MIAMI AVE',
 '4207 BELMONT PARK TERRACE',
 '589 JUDD DR',
 '710 CLEARVIEW DR',
 '2220 SELMA AVE',
 '3800 CROSS CREEK RD',
 '4868 PAYNE RD',
 '5022 ASHLEY DR',
 '3716 ASHEFORD TRACE',
 '4807 BRIARWOOD DR',
 '25 FAIRWAY DR',
 '606 COPPERFIELD CT',
 '264 TANKSLEY AVE',
 '1018 E OLD HICKORY BLVD',
 '313 OCALA CIR',
 '3608 SEASONS DR',
 '3436 STOKESMONT RD',
 '827 GALLAVISTA AVE',
 '415 WILSONIA AVE',
 '4605 GRANNY WHITE PIKE',
 '66 VAUGHNS GAP RD',
 '628 W GREEN LN',
 '501 OLD TOWNE DR',
 '6012 JOCELYN HOLLOW RD',
 '3328 SMITH SPRINGS RD',
 '3515 COLONY PT W',
 '3917 WESTMONT AVE',
 '319 BLACKMAN RD',
 '128 MCARTHUR DR',
 '2949 NAUTILUS DR',
 '4502 GRANNY WHITE PIKE',
 '3510 W HAMILTON AVE',
 '101 WESTCHESTER CT',
 '742 WALNUT ST',
 '926 NEUHOFF LN',
 '4209 SAVANNAH PL',
 '320 OLD HICKORY BLVD 2000',
 '190 WHEELER AVE',
 '1209 DAVIDSON RD',
 '698 HARDING PL',
 '701 MAPLE PL',
 '4840 SHEFFIELD DR',
 '1504 BEAUS WAY',
 '1015 WESTCHESTER DR',
 '281 PENFIELD DR',
 '638 SHADY LN',
 '534 AMQUIWOOD CT',
 '922 PERCY WARNER BLVD',
 '1441 RICE HILL CIR',
 '1027 WESTCHESTER DR',
 '3417 COUNTRY HILL RD',
 '2129 BLAIR BLVD',
 '5313 OVERTON RD',
 '3238 KINGS LN',
 '4237 HALLMARK RD',
 '3801 WOODLAWN DR',
 '1020 ST ANDREWS PL',
 '2316 MAPLECREST DR',
 '4100 ORIOLE PL A',
 '259 SUNRISE AVE',
 '3820 BUENA VISTA PIKE',
 '3947 KEELEY DR',
 '6670 JOCELYN HOLLOW RD',
 '5801 TRU LONG CT',
 '465 EWING LN',
 '176 WHEELER AVE',
 '411 WAUFORD DR',
 '4133 OUTER DR',
 '1496 DOLAN RD',
 '603 ELYSIAN FIELDS RD',
 '506 NICHOL RD',
 '3356 MILBRIDGE DR',
 '1713 REALTREE WAY',
 '902 FREE SILVER RD',
 '3509 W HAMILTON RD',
 '252 RIVERSIDE DR',
 '2214 COTTAGE HILL DR',
 '756 GREELEY DR',
 '1154 VULTEE BLVD',
 '3128 MOOREWOOD DR',
 '512 VANTREASE RD',
 '3809 ROUND ROCK DR',
 '2508 SHADOW LN',
 '428 GLEN WEST DR',
 '6438 CURRYWOOD DR',
 '1405 RUGOSA CT',
 '1024 PERCY WARNER BLVD',
 '624 COUNTRY MEADOW CT',
 '2408 MAPLECREST DR',
 '607 GEORGETOWN DR',
 '352 KINGVIEW DR',
 '211 4TH AVE',
 '4119 GALLATIN PIKE',
 '2017 GALBRAITH DR A',
 '572 JOYCE LN',
 '132 CLEARLAKE DR E',
 '516 JASMIN DR',
 '118 HEARTHSTONE MANOR CIR',
 '304 HARWICH CT',
 '958 PERCY WARNER BLVD',
 '2516 WOODBERRY DR',
 '161 TUSCULUM RD',
 '4113 ORIOLE PL',
 '1313 KERMIT DR',
 '5024 MONTCLAIR DR',
 '5345 OVERTON RD',
 '3109 WINGATE AVE',
 '5210 ELKINS AVE',
 '1705 11TH AVE N',
 '4504 LORALIE LN',
 '241 HAYWOOD LN',
 '638 W NOCTURNE DR',
 '319 MORTON AVE',
 '616 BEL AIR DR',
 '508 BUCKNER PL',
 '255 SUNRISE AVE',
 '116 BROOK HOLLOW RD',
 '2466 SCOTT VALLEY DR',
 '4878 JONQUIL DR',
 '842 REEVES RD',
 '6008 LENOX AVE',
 '510 COTTONWOOD DR',
 '332 BREWER DR',
 '206 WILSONIA AVE',
 '696 PICCADILLY ROW',
 '2701 WOODLAWN DR',
 '709 ROWAN DR',
 '723 HARPETH TRACE DR',
 '6605 SUSSEX CIR',
 '1809 ROSECRANS CT',
 '2808 HARRIETTE CT',
 '746 BONTEMPS DR',
 '312 CLARK HILL XING',
 '185 WOODSON LN',
 '3905 AUGUSTA DR',
 '3113 FISHER DR',
 '3925 ATKINS DR',
 '5549 MURPHYWOOD XING',
 '3763 WESTPORT DR',
 '2905 NAUTILUS DR',
 '5414 ILLINOIS AVE',
 '5357 VILLAGE WAY',
 '4704 MCBRIDE RD',
 '6327 ROBIN HILL RD',
 '4015 DORCAS DR A',
 '316 ROSEBANK AVE',
 '2338 TALLY GREEN CT',
 '2161 BROOKVIEW DR',
 '6003 CARGILE RD',
 '2215 DEARBORN DR',
 'HOOPER CT',
 '247 WALLACE RD',
 '441 NEELYS BEND RD',
 '1971 NASHBORO BLVD',
 '2511 LAKEVILLA DR',
 '121 MCCALL ST',
 '140 WINDSOR DR',
 '120 BESS CT S',
 '205 CHANNELKIRK LN',
 '513 SOUTHCREST DR',
 '4104 KENNEDY AVE',
 '114 BROOKFIELD AVE',
 '292 TUSCULUM RD',
 '719 WOODMERE DR',
 '301 FREDA VILLA',
 '673 HARPETH TRACE DR',
 '704 MAYLENE DR',
 '6808 PENNYWELL DR',
 '373 BART DR',
 '2616 MOUNTAIN LAUREL DR',
 '2645 OLD BUENA VISTA RD',
 '4433 FROST ST',
 '3044 NOLENSVILLE PIKE',
 '3103 WINGATE AVE',
 '1216 KATIE AVE',
 '3017 RICHMOND HILL DR',
 '3629 WEST END AVE',
 '724 OLD GLENROSE AVE',
 '113 HODGE CT',
 '182 TUSCULUM RD',
 '605 PICCADILLY ROW',
 '317 MELVIN JONES DR',
 '4117 WALLACE LN',
 '101 JOCELYN HILLS RD',
 '950 BATTERY LN',
 '3801 WEST END AVE',
 '6232 HENRY FORD DR',
 '490 BROADWELL DR',
 '720 BLACKSTONE AVE',
 '904 ANDERSON LN',
 '900 BOARDEAUX',
 '4838 BRIARWOOD DR',
 '635 W NOCTURNE DR',
 '212 ROBIN HILL RD',
 '1401 WINTHORNE DR',
 '6600 UPTON LN',
 '1312 DUNCANWOOD CT',
 '3932 LLOYD RD',
 '877 BISHOPSGATE RD',
 '408 CEDARVIEW DR',
 '532 PARAGON MILLS RD',
 '3328 NIAGARA DR',
 '16 WESTLAWN CT',
 '605 VILLAGE TRACE CT',
 '219 NIX DR',
 '102 GILMAN AVE',
 '1954 OMOHUNDRO DR',
 '1515 LOCK RD',
 '2950 BABY RUTH LN',
 '908 N DUPONT AVE',
 '1901 DEMARIUS DR',
 '2809 PENNINGTON BEND RD',
 '2416 CABIN HILL RD',
 '616 VESTER AVE',
 '564 RURAL HILL RD',
 '2148 SMITH SPRINGS RD',
 '3318 ANDERSON RD',
 '5141 REGENT DR',
 '135 ANTON DR',
 '904 MARENGO LN',
 '3285 ANDERSON RD',
 '4007 MICHIGAN AVE',
 '829 BIXLER AVE',
 '2023 GALBRAITH DR',
 '3109 BRICK CHURCH PIKE',
 '207 LEESHAN CT',
 '320 OLD HICKORY BLVD 3024',
 '3710 N NATCHEZ CT',
 '125 COLEMONT DR',
 '3711 STEVENS LN',
 '207 PAGE RD',
 '9 LEXINGTON GRN',
 '3020 BROMLEY WAY',
 '45 ASHINGTON LN',
 '5806 COUCH DR',
 '5012 ARROGATE DR',
 '1123 CLIFTON LN',
 '3505 LANAWOOD DR',
 '352 OCALA DR',
 '43 BENZING RD',
 '245 CRAIGMEADE DR',
 '4616 GRANNY WHITE PIKE',
 '3552 COLONY POINT W',
 '816 WOODLAND ST',
 '5019 RAYWOOD LN',
 '5636 KENDALL DR',
 '540 CLOSE LN',
 '4893 PACKARD DR',
 '100 BRAXTON HILL CT',
 '201 BEN ALLEN RD',
 '552 CLOSE LN',
 '1113 57TH AVE N',
 '6305 FREEDOM DR',
 '4011 CEDAR CIR',
 '3405 CAINBROOK XING',
 '1259 SCHOOL LN',
 '5614 BROOKWOOD PL',
 '3121 RIVERS EDGE DR',
 '1241 RIVERWOOD DR',
 '1404 E RIVERWOOD DR',
 '4153 SADDLECREEK WAY',
 '1584 BELL RD',
 '1615 WOODMONT BLVD',
 '335 CUMBERLAND AVE',
 '2708 GREENSIDE PL',
 '3218 LEAWOOD DR',
 '545 MCMURRAY DR',
 '179 TUSCULUM RD',
 '4030 ASHLAND CITY HWY',
 '3636 CLARKSVILLE PIKE',
 '4800 FOLEY DR',
 '3405 OLD ANDERSON RD',
 '408 VILLAGE HALL PL',
 '2005 UPLAND DR',
 '112A ROSEBANK AVE',
 '252 WALLACE RD',
 '708 YOEST CIR',
 '4200 KEVINWOOD CT',
 '223 TOWNES DR',
 '718 GLENCLIFF CT',
 '2867 CREEKBEND DR',
 '3143 STAFFORD DR',
 '128 NEESE DR',
 '3207 RESHA LN',
 '6400 E VALLEY CT',
 '924 KALVESTA CT',
 '2106 LYLE CT',
 '5757 MURPHYWOOD CROSING',
 '319 DELVIN DR',
 '1006 GRANDVIEW DR',
 '3801 LUNN DR',
 '3803 ROLLAND RD',
 '624 SHADY LN',
 '3109 STONEYBROOK CIR',
 '2627 WILLOW BRANCH DR',
 '513 HILSON CT',
 '3013 WINDEMERE CIR',
 '354 FAIRLANE DR',
 '713 CANOE RIDGE POINT',
 '516 GLENGARRY DR',
 '1756 BRIDGECREST DR',
 '3535 SENECA FOREST DR',
 '2922 MCCAMPBELL AVE',
 '2200 COURTNEY AVE',
 '2806 WHITE OAK DR B',
 '508 ANNEX AVE',
 '3868 LUNN DR',
 '489 BRENTVIEW HILLS DR',
 '2524 EDGE O LAKE DR',
 '609 CROLEY DR',
 '6020 SEDBERRY RD',
 '5600 CLOVERLAND PARK DR',
 '934 BATTERY LN',
 '201 NASHBORO GREENS CT',
 '2100 GOLF CLUB LN',
 '4939 HOPEDALE DR',
 '544 WANDA DR',
 '5409 ANCHORAGE DR',
 '212 CANA CIR',
 '1822 WILD OAKS CT',
 '2232 GOLDEN OAK PL',
 '6711 DARDEN PL',
 '424 HICKORY TIMBER CT',
 '4209 LONE OAK RD A',
 '606 GIBSON DR',
 '604 RANSOM VILLAGE WAY',
 '118 2 RIVERS CT',
 '14885 OLD HICKORY BLVD',
 '1600 LIBERTY HILL DR',
 '1035 N DUPONT AVE',
 '117 JEFFERSON SQUARE',
 '261 CEDARCREEK DR',
 '333 BINKLEY DR',
 '821 CHERRY LAUREL CT',
 '312 EMERY DR',
 '933 PERCY WARNER BLVD',
 '2433 VALE LN',
 '113 JEFFERSON SQUARE',
 '533 STONEGATE PL',
 '911 BROADMOOR DR',
 '5817 STERLING OAKS DR',
 '2703 OVERHILL CIR',
 '1204 BARKHILL PL',
 '524 HARDING PL',
 '827 KIRKWOOD AVE',
 '450 ADAMWOOD DR',
 '2106 COURTNEY AVE',
 '4710 LOG CABIN RD',
 'MAXWELL XING',
 '3814 HARDING PL',
 '704 WESLEYWOOD DR',
 '1314 FORREST PARK DR',
 '502 CROSSWOOD CT',
 '525 VINSON DR',
 '218 WHEELER AVE',
 '401 SPRINGTIME CT',
 '713 SKYVIEW DR',
 '703 TUCKAHOE DR',
 '2808 WESTERN HILLS DR',
 '2404 MERRY OAKS DR',
 '1628 S OBSERVATORY DR',
 '6013 CHARLOTTE PIKE',
 '4024 STEWARTS LN',
 '1702 14TH AVE N',
 '312 FAIRLANE DR',
 '163 ANTIOCH PIKE',
 '3436 TOWN VILLAGE ROAD',
 '308 TIMMONS ST',
 '2617 LISHWOOD DR',
 '712 MT CARMEL PL',
 '361 WALES DR',
 '608 TOBYLYNN CIR',
 '4201 HOOD AVE',
 '2400 MAPLECREST DR',
 '6445 BRESSLYN RD',
 '3931 DRY FORK RD',
 '3203 RESHA LN',
 '3585 GONDOLA DR',
 '2928 WINGATE AVE',
 '3033 MOSSDALE DR',
 '108A BENSON RD',
 '2507 LINCOYA CT',
 '2903 DOBBS AVE',
 '3228 DOVE PL',
 '3620 GENERAL BATE DR',
 '4674 CLARKSVILLE PIKE',
 '4292 LAVERGNE COUCHVILLE PIKE',
 '3832 ANDERSON RD',
 '538 E MAPLE ST',
 '4418 GRANNY WHITE PIKE B',
 '6007 OBRIEN AVE',
 '2740 SHARONDALE CT',
 '1905 TERRAGON CT',
 '1818 TAMMANY DR',
 '5206 CLOSE CIR',
 '821 BROOKS AVE',
 '204 HOPEWOOD CT',
 '6302 ROBERTSON AVE',
 '187 NASHBORO GREENS',
 '250 RIVERSIDE DR',
 '905 WOODMONT BLVD',
 '600 BURGUNDY DR',
 '4927 PACKARD DR',
 '4702 LORI DR',
 '4733 AARON DR',
 '538 FOUNDRY DR',
 '515 DONELSON PIKE',
 '6209 DEL SOL DR',
 '3112 WINGATE AVE',
 '2621 JONES VIEW DR',
 '719 W OLD HICKORY BLVD',
 '610 BROOK HOLLOW RD',
 '4749 COLEMONT PL',
 '300 RURAL HILL CT',
 '6017 GESSNER LN',
 '523 NALL AVE',
 '3000 BUENAVIEW BLVD',
 '3209 JONESBORO DR',
 '3712 BELLE OAKS DR',
 '317 FAULKNER PL',
 '2701 PRIEST LAKE DR',
 '706 W MEADE DR',
 '1109 MCALPINE AVE',
 '3288 NEW TOWNE RD',
 '1113 SUNNYMEADE DR',
 '1847 WILD OAKS CT',
 '3033 PENN MEADE WAY',
 '510 CLEMATIS DR',
 '516 FAIRHAVEN CT',
 '2608 WESTERN HILLS DR',
 '662 FRANKLIN LIMESTONE RD',
 '3507 SANFORD AVE',
 '231 W OLD HICKORY BLVD',
 '4225 HALLMARK RD',
 '3503 BELMONT BLVD',
 '101 BELLEBROOK CIR',
 '3004 GOODWIN DR',
 '1101 SAUNDERS AVE',
 '1305 JOUST CT',
 '3502 AMANDA AVE',
 '2109 HAMILTON GLEN PL',
 '3815 ASHLAND CITY HWY',
 '716 PAIGE CIR',
 '6005 DEAL AVE',
 '3156 STONEYBROOK CIR',
 '149 WINDSOR DR',
 '110 NORTHCREST COMMONS CIR',
 '3436 CAINBROOK XING',
 '923 RUSSELL ST',
 '4112 ALBERT DR',
 '3835 HYDES FERRY RD',
 '2877 LERA JONES DR',
 '3100 ANDERSON RD',
 '404 BENZING RD',
 '302 LAUDERDALE RD',
 '1201 PIERCE RD',
 '641 ERMAC DR',
 '457 BENITA DR',
 '4026 COLERIDGE DR',
 '421 BENZING RD',
 '4164 SADDLECREEK WAY',
 '2003 LEBANON PIKE',
 '3905 KINGS LN',
 '109 CEDAR ASH CT',
 '4407 MILESDALE CT',
 '126 LANIER DR',
 '3408 CAINBROOK CROSSING',
 '517 STARDALE WAY',
 '133 STIRTON RD',
 '2623 PENNINGTON BEND RD',
 '511 STEVENSON ST',
 '3264 ANDERSON RD',
 '1872 WILD OAKS CT',
 '4875 SHASTA DR',
 '2825 MOSSDALE DR',
 '5213 TUSCULUM CT',
 '3804 BRIGHTON RD',
 '6014 SEDBERRY RD',
 '2902 BRICK CHURCH PIKE',
 '1209 PLYMOUTH AVE',
 '1505 SHACKLEFORD RD',
 '2621 ASHWOOD AVE',
 '3212 MEXICO DR',
 '6205 DEL SOL DR',
 '2929 LERA JONES DR',
 '3508 HILLDALE DR',
 '2126 NASHBORO BLVD',
 '3201 RIVER WALK DR',
 '4820 HUMBER DR',
 '1812 LOMBARDY AVE',
 '509 TUCKAWAY CT',
 '4151 LONGFELLOW DR',
 '237 MCGAVOCK PIKE',
 '1022 ANTIOCH PIKE',
 '105 COLONY POINT E',
 '2028 WILLIAMS VALLEY DR',
 '4211 DRAKES HILL DR',
 '705 E OLD HICKORY BLVD',
 '4305 W HAMILTON RD',
 '2602 LIVE OAK RD',
 '3424 WOODMONT BLVD',
 '681 ROWAN DR',
 '104 BENSON RD',
 '2416 ABBOTT MARTIN RD',
 '247 COLLIER AVE',
 '618 ELAINE DR',
 '224 WELCH RD',
 '590 LOCKWOOD DR B',
 '206 ROLLING FORK CT',
 '3903 ABBOTT MARTIN RD',
 '6705 TN-100',
 '959 STRAND FLEET DR',
 '2355 COUCHVILLE PIKE',
 '220 JOANN CT',
 '622 ESTES RD',
 '706 MOORMANS ARM RD',
 '6311 PERCY DR',
 '3415 BENHAM AVE',
 '229 CANA CIR',
 '237 HICKORY ST',
 '127 ANTON DR',
 '3734 FAULKNER DR',
 '446 HENEY DR',
 '3024 BROMLEY WAY',
 '109 CHARLES CT',
 '4001 HARDING PL',
 '1349 CARDINAL AVE',
 '1224 TWIN CIR DR',
 '3013 HUMMINGBIRD DR',
 '628 OLD HICKORY BLVD',
 '510 W DUE WEST AVE',
 '6609 ASCOT DR',
 '54 BROOKHILL CIR',
 '168 CHEEK RD',
 '2917 WELLESLEY TRCE',
 '306 RAYWOOD CT',
 '323 LAWNDALE DR',
 '5132 PRITCHETT DR',
 '320 NEELYS BEND RD',
 '5317 TROUSDALE DR',
 '4005 MEADOW HILL DR',
 '5135 REGENT DR',
 '2126 GOLF CLUB LN',
 '3105 BRICK CHURCH PIKE',
 '320 EWING DR',
 '5924 CARL PL',
 '905 MULBERRY HILL PLACE',
 '923 KIRKWOOD AVE',
 '313 THUSS AVE',
 '1652 BRIDGECREST DR',
 '515 RICHMAR DR',
 '493 WHISPERING HILLS DR',
 '1921 LIBERTY SQ',
 '4121 HUTSON AVE',
 '3017 WOODLAWN DR',
 '2224 HAMLET HILL DRIVE',
 '905 CRESCENT HILL RD',
 '4000 MURFREESBORO PIKE',
 '4036 COLERIDGE DR',
 '617 BRIDGETTE CT',
 '6412 PATTON AVE',
 '110 VALLEY GREEN CT',
 '2716 AIRWOOD DR',
 '817 GIBSON DR',
 '208 VALLEY BEND DR',
 '920 KALVESTA CT',
 '3317 TOWNE VILLAGE RD',
 '915 CRESCENT HILL RD',
 '560 JANICE DR',
 '5202 CLOSE CIR',
 '604 BAXTER LN',
 '4412 STONEVIEW DR',
 '6523 SPRINT DR',
 '1210 LITTONWOOD DR',
 '277 BELL RD',
 '2218 BUENA VISTA PIKE',
 '208 VAUGHNS GAP RD',
 '4313 AYERS DR',
 '3832 DRY FORK RD',
 '116 PENNY BRINK DR',
 '4947 HOPEDALE DR',
 '6205 ROBERTSON AVE',
 '617 TWIN OAKS CT',
 '933 ALLEN RD',
 '517 CATHY JO CIR',
 '896 CONNELLY DR',
 '183 THOMPSON LN',
 '2514 LINCOYA CT',
 '906 FREE SILVER RD',
 '2229 BLAIR BLVD',
 '1644 LIBERTY HILL DR',
 '834 NEELYS CHASE DR',
 '637 BALDWIN CT',
 '2520 SONAR ST',
 '3250 CLOVERWOOD DR',
 '1023 ALICE ST',
 '300 DONELSON PIKE',
 '303 FAULKNER PL',
 '95 MCCALL ST',
 '163 ELKMONT DR',
 '2901 TUGGLE AVE',
 '260 CLOVERNOOK DR',
 '2911 KNIGHT DR',
 '1607 SPRUCEDALE DR',
 '1214 NORVEL AVE',
 '734 MOORMANS ARM RD',
 '213 WILDGROVE CT',
 '304 GLENGARRY DR',
 '4141 APACHE TRL',
 '401 LOVELL ST',
 '6000 FRONTIER LN',
 '3228 ANDERSON RD',
 '2816 OLD FRANKLIN RD',
 '2149 W RICHMOND HILL DR',
 '1141 GLENDALE LN',
 '1126 BROOKMEADE DR',
 '6312 ROBIN HILL RD',
 '3920 MEADOW RD',
 '705 OVERTON PARK',
 '178 SHEILA DR',
 '4020 DRAKES BRANCH RD',
 '1402 RIVERWOOD DR',
 '2422 KIMBERLY DR',
 '3534 GONDOLA DR',
 '108 QUEENS LN',
 '757 WINTHORNE DR',
 '5314 BUENA VISTA PIKE',
 '604 RUSSELL ST',
 '56 E THOMPSON LN',
 '705 SWEET CHERRY CT',
 '4407 GRAYCROFT AVE',
 '106 WESTOVER AVE',
 '6112 FRONTIER CT',
 '5614 VALLEY VIEW RD',
 '4508 GRANNY WHITE PIKE',
 '161 ANTIOCH PIKE',
 '205 BLANCHARD PL',
 '3223 BRIARWICK DR',
 '226 BRATTLESBORO PL',
 '710 HOLDER DR',
 '217 ASH GROVE DR',
 '626 DAVIDSON RD',
 '2106 AVALON DR',
 '233 BERMUDA DR',
 '1218 ARGLE AVE',
 '5330 ANCHORAGE DR',
 '817 HILLWOOD BLVD',
 '632 ROWAN CT',
 '3508 TRIMBLE RD',
 '4121 CREEKWOOD N',
 '2811 PADEN DR',
 '643 HOGAN RD',
 '3817 FAIRVIEW DR',
 '382 TUSCULUM RD',
 '526 SNYDER AVE',
 '4341 SNEED RD',
 '1715 14TH AVE N',
 '3524 LANAWOOD DR',
 '6407 FUTURA DR',
 '6032 DEAL AVE',
 '3316 HAMILTON CHURCH RD',
 '2508 NASHBORO BLVD',
 '4608 ILLINOIS AVE',
 '70 REVERE PARK',
 '816 E CAMPBELL RD',
 '108 HANOVER SQ',
 '2012 GALBRAITH DR',
 '1132 BROOKMEADE DR',
 '563 ANNEX AVE',
 '2880 CREEKVIEW DR',
 '1906 WILD OAKS CT',
 '4624 BELMONT PARK TER',
 '209 CRAIGMEADE DR',
 '4515 TROUSDALE DR',
 '223 LEONARD AVE',
 '3900 E RIDGE DR',
 '500 COUNTRY WAY CT',
 '193 MCCALL ST',
 '525 LEEANNE DR',
 '155 CHEEK RD',
 '3548 ANDERSON RD',
 '1120 WOODVALE DR',
 '4229 KEVINWOOD CT',
 '777 W MEADE DR',
 '1114 APPLE VALLEY RD',
 '216 HICKORY ST',
 '3706 ESTES RD',
 '4000 CALUMET DR',
 '105 RIVERS EDGE CT',
 '816 E MEADE AVE',
 '294 LARGO DR',
 '2622 WAYLAND CT',
 '905 WOODS LAKE DR',
 '324 BART DR',
 '6319 PERCY DR',
 '601 OLD HICKORY BLVD 105',
 '4527 BEACON DR',
 '200 CHANNELKIRK LN',
 '4413 ESTES RD',
 '6503 BROWNLEE DR',
 '2312 REVERE PL',
 '1708 SHACKLEFORD RD',
 '84 RIVERPOINT PASS',
 '1604 RICE HILL CT',
 '113 ROSEBANK AVE',
 '4237 KINGS LN',
 '1720 EDGEWOOD AVE',
 '762 PIPPIN DR',
 '5002 LEWISDALE CT',
 '840 YOUNGS LN',
 '208 FLINT RIDGE CT',
 '3223 KINGS LN',
 '22 WYNFIELD CT',
 '725 RIVERCREST PASS',
 '1305 MCCHESNEY AVE',
 '1231 PLYMOUTH AVE',
 '170 HAVERFORD DR',
 '525 CEDARMONT DR',
 '4015 DORCAS DR B',
 '6113 JOCELYN HOLLOW RD',
 '2708 OLD LEBANON RD',
 '1218 HOWARD AVE',
 '3289 HINKLE DR',
 '4745 COLEMONT PL',
 '2704 CRESTDALE DR',
 '101 BLUE HILLS CT',
 '1430 NORVEL AVE',
 '3348 GREEN RIDGE DR',
 '2579 WILLOWBRANCH DR',
 '3512 KENNEDY AVE',
 '4305 SNEED RD',
 '5078 BLUE HOLE RD',
 '2632 WILLOWBRANCH DR',
 '519 MC DONALD DR',
 '120 ROSEBANK AVE',
 '307 DONELSON PIKE',
 '424 EZELL PIKE',
 '903 PADDOCK PR',
 '1005 ARCADIA CT',
 '3516 LANAWOOD DR',
 '283 CATHY JO DR',
 '702 VANDERHORST DR',
 '605 FREEDOM CT',
 '2724 FORTLAND DR',
 '6726 PENNYWELL DR',
 '1808 ROSEBANK AVE',
 '1305 WINTHORNE DR',
 '601 HERITAGE DR',
 '673 CANDLESTICK DR',
 '16 COMPTON TRCE',
 '112 ROTHWOOD CT',
 '3934 PHEASANT DR',
 '49 VAUGHNS GAP',
 '2520 DAVID CT',
 '3613 BRUSH HILL CT',
 '2719 VISTA LN',
 '2832 VALLEY RD',
 '130 CUMBERLAND TRCE',
 '2800 CAPELLA CT',
 '340 FLORA MAXWELL RD',
 '2608 TIFFANY DR',
 '708 ASHWORTH CIR',
 '18 LEXINGTON GREEN',
 '5330 OVERTON RD',
 '4217 DRAKES CT',
 '127 PORT DR',
 '1513 HARDING PL',
 '125 E FAIRVIEW DR',
 '716 DARDEN PL',
 '2463 CABIN HILL RD',
 '600 CEDARMONT DR',
 '412 DERRICK CT',
 '3525 SENECA FOREST DR',
 '609 ANNEX AVE',
 '409 DONELSON PIKE',
 '3017 STONE BRIDGE RD',
 '998 SHADOW LN',
 '104 LINCOLN CT',
 '4611 SAUNDERS AVE',
 '4001 FAIRVIEW DR',
 '914 PERCY WARNER BLVD',
 '6100 BEALS LN',
 '6024 FRONTIER LN',
 '294 LE BON RD',
 '3909 MEADOW RD',
 '416 BASSWOOD AVE',
 '2538 WILLOW BRANCH DR',
 '3262 HINKLE DR',
 '1001 ESTURBRIDGE CT',
 '5528 MAPLESONG DR',
 '129 PAGE RD',
 '509 BROOK HOLLOW RD',
 '227 CEDARMONT CIR',
 '2428 ABBOTT MARTIN RD',
 '6361 MT VIEW RD',
 '2720 PENN MEADE DR',
 '298 PORT DR',
 '4088 PINEORCHARD PL',
 '128 FERN AVE',
 '2909 ELM HILL PIKE',
 '4506 DAKOTA AVE',
 '601 RONNIE RD',
 '3940 WOODLAWN DR',
 '819 KIRKWOOD AVE',
 '114 NASHBORO GREENS',
 '2910 ROGERS CT',
 '3802 HARDING PL B',
 '4409 GRANNY WHITE PIKE',
 '4213 SAUNDERS AVE',
 '613 TWIN OAKS CT',
 '2832 LOUISE RUSSELL DR',
 '209 DAFFODIL CT',
 '268 SUNRISE AVE',
 '2549 PENNINGTON BEND RD',
 '6009 HICKORY VALLEY RD',
 '3207 PANORAMA DR',
 '3819 BOATNER DR',
 '2339 REVERE PL',
 '432 OWENDALE DR',
 '265 RIVERSIDE DR',
 '1820 WELCOME LN',
 '1312 HILDRETH DR',
 '106 CLYDELAN CT',
 '3516 DOVE CREEK RD',
 '1135 DUNCANWOOD DR',
 '2726 ENNIS RD',
 '133 VALLEY GREEN DR',
 '3414 BENHAM AVE',
 '2718 PRIEST LAKE DR',
 '4013 KINGS CIR',
 '2626 BLUEFIELD AVE',
 '421 KINGVIEW CT',
 '4408 LINDAWOOD DR',
 '818 REEVES RD',
 '2118 SHARONDALE DR',
 '511 FOREST POINTE PL',
 '304 W DUE WEST AVE',
 '223 MORTON AVE',
 '1302 TYNE BLVD',
 '3878 PRIEST LAKE DR',
 '2714A EASTLAND AVE',
 '653 RANSOM VILLAGE WAY',
 '2324 MAPLECREST DR',
 '307 CONNARE DR',
 '205 SHOEMAKER CT',
 '420 CEDARCREEK TRL',
 '748 DOVER GLEN DR',
 '557 MOSS LANDING DR',
 '3831 CRAVATH DR',
 '4700 HUMBER DR',

In [16]:
redriver['fine'] = False
#redriver['used_in_fine'] = False

In [17]:
for addy in address_set: # Iterates through each unique address
    addy_df = redriver.loc[redriver['Clean Address'] == addy].reset_index(drop = True) # Temp dataframe for each address
    for index, fields in addy_df.iterrows(): # Iterates through temp dataframe
        if len(addy_df) > 2: # Checks for at least 3 requests
          reqnum = fields['Request Number'] # Saves Request Number for reqeust
          if abs((addy_df.iloc[0, 1] - addy_df.iloc[1, 1]).days) <= 180: # Checks difference between rows 1 and 2
              if abs((addy_df.iloc[0, 1] - addy_df.iloc[2, 1]).days) <= 180: # Checks difference between rows 1 and 3
                  i = redriver[redriver['Request Number'] == reqnum].index # Saves index for Request Number in main dataframe
                  redriver.loc[i, 'fine'] = True
        addy_df = addy_df.drop(index=0).reset_index(drop = True)

In [18]:
redriver.head()

,Request Number,Date Opened,Missed,Clean Address,Trash Hauler,Zip Code,fine
0,25274,2017-11-01,True,4028 CLARKSVILLE PIKE,RED RIVER,37218,False
1,25529,2017-11-01,True,131 PAGE RD,RED RIVER,37205,False
2,25525,2017-11-01,True,162 ANTIOCH PIKE,RED RIVER,37211,True
3,25522,2017-11-01,True,405 BROOK HOLLOW RD,RED RIVER,37205,False
4,25519,2017-11-01,True,3702 HOBBS RD,RED RIVER,37215,True

In [26]:
redriver.fine.sum()

1435

In [28]:
redriver.loc[redriver['fine'] == True]['Zip Code'].nunique()

20

In [19]:
finedf = redriver

In [20]:
zipgroup = finedf.groupby('Zip Code')['fine'].sum().to_frame().reset_index()
zipgroup.head()

  Zip Code  fine
0    37013   220
1    37027    11
2    37086     0
3    37115   140
4    37189    10

In [29]:
zipgroup

   Zip Code  fine
0     37013   220
1     37027    11
2     37086     0
3     37115   140
4     37189    10
5     37204    38
6     37205   172
7     37206     9
8     37207    55
9     37208     2
10    37209    92
11    37210    32
12    37211   184
13    37212     5
14    37214    80
15    37215   156
16    37216    42
17    37217    51
18    37218   103
19    37220    21
20    37221    12

In [21]:
zipcode = gpd.read_file('../geospatial-jaredjab/data/zipcodes.geojson')
zipcode.head()

,zip,objectid,po_name,shape_stlength,shape_starea,geometry
0,37115,1,MADISON,178783.02488886821,596553400.57885742,"MULTIPOLYGON (((-86.68725 36.31821, -86.68722 ..."
1,37216,3,NASHVILLE,75820.997821400058,188884682.28344727,"MULTIPOLYGON (((-86.73451 36.23774, -86.73425 ..."
2,37204,9,NASHVILLE,93180.292250425613,200664795.51708984,"MULTIPOLYGON (((-86.77914 36.13424, -86.77923 ..."
3,37027,11,BRENTWOOD,159760.6942933173,174978422.04101562,"MULTIPOLYGON (((-86.81258 36.06319, -86.81263 ..."
4,37064,18,FRANKLIN,28995.828320601937,46969608.005737305,"MULTIPOLYGON (((-87.02197 36.01200, -87.02140 ..."

In [22]:
finezips = zipcode.merge(zipgroup, how='inner', left_on='zip', right_on='Zip Code')
finezips = finezips.drop(columns='Zip Code').rename(columns={'fine':'total_fines'})
finezips.head()

,zip,objectid,po_name,shape_stlength,shape_starea,geometry,total_fines
0,37115,1,MADISON,178783.02488886821,596553400.57885742,"MULTIPOLYGON (((-86.68725 36.31821, -86.68722 ...",140
1,37216,3,NASHVILLE,75820.997821400058,188884682.28344727,"MULTIPOLYGON (((-86.73451 36.23774, -86.73425 ...",42
2,37204,9,NASHVILLE,93180.292250425613,200664795.51708984,"MULTIPOLYGON (((-86.77914 36.13424, -86.77923 ...",38
3,37027,11,BRENTWOOD,159760.6942933173,174978422.04101562,"MULTIPOLYGON (((-86.81258 36.06319, -86.81263 ...",11
4,37221,17,NASHVILLE,241372.3112694624,1266395059.4877319,"MULTIPOLYGON (((-86.97084 36.11644, -86.97084 ...",12

In [25]:
finezips.to_file('zipcode_fines_red_river.geojson', driver="GeoJSON")

In [24]:
finetotal = 1500 * redriver['fine'].sum()
finetotal

2152500